@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); /* CSS reset */
@import url("https://fonts.googleapis.com/css?family=Inter:400"); 

/* Global color variables */
:root {
  --background-color-white: #FDFCFC;
  --background-color-light: #F7F3F0;
  --background-color-dark: #EFE4DF;
  --text-color-dark-gray: #2E3A3D;
  --accent-color-dark-blue: #35626D;
  --accent-color-light-blue: #629DA7;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
a {
  text-decoration: none;
}