/* Chck what is needed + when I zoom out the texts move to the middle of the page, when zoomed in they move below the header box*/

.box {
  width: 100%; /* fill full width of viewport */
  height: 100px;
}

.box .header-group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.box .header-desktop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 0px 24.59px;
  padding: 0 20px;
  height: 100px;
  box-sizing: border-box; 
  background: var(--background-color-dark);
}

.box .chatgpt-image-jul {
  position: relative;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

.box .button-list {
  display: inline-flex;
  align-items: center;
  gap: 16.39px;
  position: relative;
  flex: 0 0 auto;
}

.box .img {
  position: relative;
  width: 24.59px;
  height: 24.59px;
}

.box .navigation-pill-list {
  display: flex;
  flex-wrap: wrap;
  width: 886px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8.2px 8.2px;
  position: relative;
}

.box .navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8.2px;
  padding: 8.2px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--background-color-white);
  border-radius: 8.16px;
}

.box .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.02px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--text-color-dark-gray);
  font-size: 16.4px;
  letter-spacing: 0;
  line-height: 16.4px;
  white-space: nowrap;
}

.box .title-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8.2px;
  padding: 8.2px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8.16px;
}

.box .header-auth {
  display: flex;
  width: 182.35px;
  align-items: center;
  gap: 12.29px;
  position: relative;
}

.box .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 85.03px;
  align-items: center;
  justify-content: center;
  gap: 8.2px;
  padding: 8.2px;
  position: relative;
  background-color: var(--accent-color-light-blue);
  border-radius: 8.16px;
  overflow: hidden;
  border: 1px solid;
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--background-color-white);
  font-size: 16.4px;
  letter-spacing: 0;
  line-height: 16.4px;
  white-space: nowrap;
}

.box .div {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.2px;
  padding: 8.2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--background-color-white);
  border-radius: 8.16px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--accent-color-dark-blue);
}

.box .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--accent-color-dark-blue);
  font-size: 16.4px;
  letter-spacing: 0;
  line-height: 16.4px;
  white-space: nowrap;
}
